.nav-bar{
  display: flex;
  flex-direction: row;
  background-color: red;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.nav-menu{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 2rem;
  align-items: center;

}
.nav-menu-li{
  list-style: none;
}