.nav-bar{
  display: flex;
  flex-direction: row;
  background-color: red;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.nav-menu{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 2rem;
  align-items: center;
}
.nav-menu-li{
  list-style: none;
  display: none;
}

@media (min-width: 700px){
  .nav-bar{
    top: 0;
    bottom: inherit;
    height: 3rem;
    align-items: center;
  }
  .nav-menu{
    justify-content: flex-end;
    gap: 3rem;
    padding-right: 2rem;
  }
  .nav-menu-li{
    display: block;
  }
  .nav-menu-icon{
    display: none;
  }
}